node_modules
build
dist
coverage
package-lock.json
pnpm-lock.yaml
yarn.lock
eslint.config.mjs
postcss.config.mjs
jest-sonar-reporter.json
azure-pipeline.yml
README.md
tsconfig.json
tsconfig.build.json
.prettierrc
.lintstagedrc
nest-cli.json
test/app.e2e-spec.ts
test/jest-e2e.json